fastapi
streamlit
uvicorn[standard]
httpx
requests
langchain
langgraph
langchain-huggingface
langchain-openai
langchain-groq
langchain-qdrant
langchain-google-genai
langchain-text-splitters
qdrant-client
sentence-transformers
open_clip_torch
torch
torchvision
pydantic
python-dotenv
pyyaml
pymupdf
pillow
python-multipart
